@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap');

@media (max-width:767px) {
    .mdContainer {display:none;}
    #navbar {
        border: 2px solid rgb(97, 97, 97);
        width: 100%;
    }

    #navContent {
        display: none;
    }

    .wideNav {
        display: none;
    }
    
    .link, .link:hover, .link:active, .link:visited, .link:focus {
        display: block;
        text-align: center;
        padding: 20px;
        font-size: 20px;
        color: black;
        background-color: white;
        text-decoration:none;
    }
}
 
@media (min-width:768px) {
    .xsContainer {display:none;}
    .wideNav {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 60px;
        background-color: rgb(97, 97, 97);
    }

    #navbar {
        display: none;
    }
    
    .link, .link:hover, .link:active, .link:visited, .link:focus {
        margin: 0px 30px;
        font-size: 20px;
        color: white;
        text-decoration:none;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
}

.row1 {height: 60px;}

.row2 {height: 140px;}

.col2,.col1 {
    display: flex;
    align-items: center;
    height: 100%;
}

.mobileIcons {
    display: flex;
    align-items: flex-end;
    height: 100%;
}

.searchBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    height: 45px;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 25px;
    padding: 20px;
    background-color: white;
}

.searchInput {
    width: 80%;
    border: none;
    outline: none;
    font-size: 14px;
    color: rgb(194, 194, 194);
}

#barIcon {
    outline: none;
    border: none;
    background-color:white;
    font-size: 30px;
    color: rgb(97, 97, 97);
}
.navIcons, .navIcons:hover, .navIcons:active, .navIcons:visited, .navIcons:focus{
    margin: 0px 5px;
    font-size: 20px;
    color: rgb(97, 97, 97);
    text-decoration: none;
}

.searchIcon {
    margin-left: 40px;
    outline: none;
    border: none;
    background-color:white;
    font-size: 20px;
    color: rgb(194, 194, 194);
}

.contactAndCart{
    margin-top: 15px;
    text-align: right;
}

.contactAndCart p {
    color: rgb(97, 97, 97);
    font-size: 18px;
    margin: 0px;
}